<div>
    <img src="https://image.freepik.com/free-vector/coffee-shop-badge-vintage-style_1176-95.jpg" >
    <br>
    <hr>
    <br>
    <ul>
      <li><a routerLink='profile'>Profile</a></li>
      <hr>
      <li><a routerLink='text'>Text</a></li>
      <hr>
      <li><a href="">Main page</a></li>
      <hr>
      <li><a href="">Menu</a></li>
      <hr>
      <li><a href="">About us</a></li>
      <hr>
      <li><a href="">Our history</a></li>
      <hr>
      <li><a href="">Our ethical lows</a></li>
      <hr>
      <li><a href="">Contact us</a></li>
      <hr>
      <li><a href="">charity</a></li>
      <hr>


      <p>{{ curDate | date: 'dd-MM-yy HH:mm' | uppercase }}</p>
    </ul>
  </div>
