<div class = "body_sec">
    <section id="Content">
        <h2> Welcome to CoffeE {{ users[0].name}}</h2>
        <p>{{ count }} user added!</p>
    </section>

    <app-text (countEvent)='parent()'></app-text>

</div>
<h4>{{ list | lowercase }}</h4>
<table class="styled-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
        </tr>
    </tbody>
</table>
